{{ define "main" }}
<div class="intro">
  {{ with .Site.Params.headshot }}
  <img class="headshot" src="{{ . | relURL }}" alt="Jadon Buzzard" width="180" height="240">
  {{ end }}
  <div class="intro-body">
    <h1 class="visually-hidden">{{ .Site.Title }}</h1>
    {{ .Content }}
    <p class="linkrow">
      {{ range .Site.Params.links }}<a href="{{ .url }}">{{ .name }}</a>{{ end }}
    </p>
  </div>
</div>

{{ with .Params.news }}
<section class="block">
  <h2>News</h2>
  <ul class="news">
    {{ range . }}
      <li><span class="news-date">{{ .date }}</span> <span class="news-text">{{ .text | safeHTML }}</span></li>
    {{ end }}
  </ul>
</section>
{{ end }}
{{ end }}
